.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #333;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-left: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Basic styling for the responsive card layout */
/* .card {
    width: calc(33.33% - 20px);
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
} */

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 1.2rem;
    margin: 0;
}

.add-to-cart-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.add-to-cart-button:hover {
    background-color: #0056b3;
}

/* Additional styles can be added as needed */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cardContainer-fencing {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.items-list-container {
    width: calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.items-list-container:hover {
    transform: scale(1.05);
}

.items-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.items-card img {
    max-width: 60%;
    height: auto;
}

.add-to-cart-button {
    margin-top: auto;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.add-to-cart-button:hover {
    background-color: #0056b3;
}

.item-title {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 768px) {
    .items-list-container {
        width: calc(50% - 20px);
    }
}
.price-element{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    font-size: 20px;
    font-weight: bolder;
}